/*Texte*/
/*background*/
/*Extensions*/
/*Mixins*/
/*media-queries*/
@-webkit-keyframes filling {
  0% {
    -webkit-transform: translate(-100%, -100%);
            transform: translate(-100%, -100%);
  }
  50% {
    -webkit-transform: translate(-30%, -30%);
            transform: translate(-30%, -30%);
  }
  100% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
}
@keyframes filling {
  0% {
    -webkit-transform: translate(-100%, -100%);
            transform: translate(-100%, -100%);
  }
  50% {
    -webkit-transform: translate(-30%, -30%);
            transform: translate(-30%, -30%);
  }
  100% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
}

body {
  margin: auto;
  min-width: 216px;
}

body .container {
  width: 88%;
  margin: auto;
}

* {
  font-family: "Roboto", "Claibri", sans-serif;
  margin: 0px;
}

h1 {
  font-family: "Shrikhand";
  font-weight: normal;
  font-size: 23px;
}

h2 {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 15px;
}

h3, p {
  font-size: 14px;
}

p {
  font-weight: lighter;
}

a {
  font-size: 12.5px;
  text-decoration: none;
  color: #000;
}

.image {
  position: relative;
}

.restaurants__card:nth-child(1) .image {
  width: 271px;
  bottom: 43px;
  right: 3px;
}

@media screen and (min-width: 301px) {
  .restaurants__card:nth-child(1) .image {
    width: 287.26px;
    bottom: 43px;
    right: 3px;
  }
}

.restaurants__card:nth-child(2) .image {
  width: 273px;
  bottom: 124px;
  right: 0px;
}

@media screen and (min-width: 301px) {
  .restaurants__card:nth-child(2) .image {
    width: 289.38px;
    bottom: 124px;
    right: 0px;
  }
}

.restaurants__card:nth-child(3) .image {
  width: 273px;
  bottom: 44px;
  right: 0px;
}

@media screen and (min-width: 301px) {
  .restaurants__card:nth-child(3) .image {
    width: 289.38px;
    bottom: 44px;
    right: 0px;
  }
}

.restaurants__card:nth-child(4) .image {
  width: 267px;
  bottom: 44px;
  right: 0px;
}

@media screen and (min-width: 301px) {
  .restaurants__card:nth-child(4) .image {
    width: 283.02px;
    bottom: 44px;
    right: 0px;
  }
}

.description__like .stop1 {
  stop-color: #9356dc;
  stop-opacity: 1;
}

.description__like .stop2 {
  stop-color: #ff79da;
  stop-opacity: 1;
}

.description__like path {
  mix-blend-mode: multiply;
  fill: url(#linearGradient2372);
  fill-opacity: 0;
  stroke: #000000;
  stroke-width: 17.4;
  stroke-miterlimit: 4;
  stroke-dasharray: none;
  stroke-opacity: 1;
  -webkit-transition: all 1s;
  transition: all 1s;
}

.description__like :active {
  fill-opacity: 1;
  stroke-opacity: 0;
  /*defs > linearGradient{
            animation: filling 1s ease-out forwards;
        }*/
}

.section-one {
  background-color: #eaeaeaff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.localisation {
  color: #353535ff;
  width: 123.91px;
  margin: 10px auto;
}

.localisation i {
  float: left;
  margin-right: 9px;
  font-size: 12.5px;
}

.localisation p {
  font-weight: bold;
  font-size: 12.5px;
}

.container {
  padding: 40px 0px 52px 0px;
}

.functionning {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 215px;
}

.functionning__step {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #f6f6f6ff;
  height: 62px;
  width: 98%;
  border-radius: 17px;
  -webkit-box-shadow: 0px 2px 7px #d8d8d8;
          box-shadow: 0px 2px 7px #d8d8d8;
}

.functionning__step div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #9356DC;
  width: 18px;
  height: 18px;
  border-radius: 10px;
  font-size: 12.5px;
  color: #FFF;
  position: relative;
  right: 9px;
}

.functionning__step i {
  color: #7e7e7eff;
  font-size: 14px;
  text-align: center;
  width: 16%;
  position: relative;
  right: 4px;
}

.functionning__step p {
  font-weight: bold;
  font-size: 12.5px;
}

.functionning__step--strong {
  background-color: #f4eefc;
}

.functionning__step--strong i {
  color: #9356DC;
}

.functionning__step:nth-child(1) i {
  font-size: 16.5px;
}

#btn {
  color: #FFF;
  padding: 12px 18px;
  background: -webkit-gradient(linear, left top, left bottom, from(#FF79DA), to(#9356DC));
  background: linear-gradient(#FF79DA, #9356DC);
  border-radius: 20px;
  -webkit-box-shadow: 0px 4px 6px #d4d4d4;
          box-shadow: 0px 4px 6px #d4d4d4;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 0px;
  -webkit-box-shadow: 0px 3px 6px #d4d4d4;
          box-shadow: 0px 3px 6px #d4d4d4;
  position: relative;
}

header h1 {
  padding-top: 15px;
  padding-bottom: 3px;
  margin: 0px auto;
}

.section-two {
  background-color: #f6f6f6ff;
}

.presentation {
  width: 80%;
  padding: 28px 0px 53px 0px;
  margin: auto;
  text-align: center;
}

.presentation p {
  margin-bottom: 32px;
}

.section-four {
  background-color: #f6f6f6ff;
}

.restaurants {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 850px;
}

.restaurants .new {
  position: absolute;
  z-index: 1;
  background-color: #99E2D0;
  color: #2b987d;
  top: 10px;
  right: 8px;
  padding: 5px 9px;
  border-radius: 2px;
  font-weight: bold;
  font-size: 11px;
}

.restaurants__card {
  border-radius: 10px;
  -webkit-box-shadow: 0px 3px 6px #e4e4e4;
          box-shadow: 0px 3px 6px #e4e4e4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  overflow: hidden;
  height: 200px;
  position: relative;
}

.description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #FFF;
  height: 31%;
  width: 100%;
  position: absolute;
  bottom: 0px;
}

.description__text {
  padding-left: 10px;
  height: 36.6px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.description__like {
  padding-right: 20px;
  width: 17px;
  height: 17px;
}

footer {
  background-color: #353535ff;
  color: #FFF;
}

footer .container {
  padding: 18px 0px 26px 0px;
}

footer h1 {
  font-size: 14px;
  margin-bottom: 15px;
}

footer ul {
  padding: 0px;
}

footer li {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer li i {
  font-size: 10px;
  text-align: center;
  width: 5%;
}

footer li a {
  color: #FFF;
  width: 93%;
}
/*# sourceMappingURL=main.css.map */