/*Extensions*/

/*Mixins*/

@mixin box-radius-shadow($radius, $y: 3px, $color: #d4d4d4){
    border-radius: $radius;
    box-shadow: 0px $y 6px $color;
}

@mixin positions($width, $bottom, $right){
    width: $width;
    bottom: $bottom;
    right: $right;
}

@mixin little-bold ($font-size:nth($font-scale-size, 1)) {
    font-weight: bold;
    font-size: $font-size;
}
