/*Extensions*/

/*media queries*/

@mixin large-tel-version {
    @media screen and (min-width: $min-large-tel-size) {
        @content;
    }
}

@mixin little-tablet-version {
    @media screen and (min-width: $min-tab-size) {
        @content;
    }
}

@mixin large-tablet-version {
    @media screen and (min-width: $min-large-tab-size) {
        @content;
    }
}

/*Mixins*/

@mixin box-radius-shadow($radius, $y: 3px, $blur: 6px, $color: #d4d4d4){
    border-radius: $radius;
    box-shadow: 0px $y $blur $color;
}

@mixin positions($width, $bottom, $right){
    width: $width;
    bottom: $bottom;
    right: $right;

    @media screen and (min-width: $min-large-tel-size) {
        bottom: $bottom*1.7;
    }

    @media screen and (min-width: $min-tab-size) {
        bottom: $bottom*1.17;
        width: $width*1.3;
    }
    
}

@mixin little-bold ($font-size:nth($font-scale-size, 1)) {
    font-weight: bold;
    font-size: $font-size;
}

@mixin display-flex ($direction: "row", $justify: "initial", $align: "initial") {
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
}
