@keyframes filling{
    50%{
        fill-opacity: 0.7;
    }
    50%,100%{
        stroke-opacity: 0;
    }
    100%{
        fill-opacity: 1;
    }
}

@keyframes disparition{
    from{
        transform: scale(1);
    }
    to{
        transform: scale(1);
    }
}

@keyframes opacity-width-change{
    0%{
        opacity: 0;
        width: 0%;
    }
    60%,100%{
        opacity: 1;
        width: 40%;
    }
}

@keyframes opacity-change{
    0%{
        opacity: 0;
    }
    60%,100%{
        opacity: 1;
    }
}

@keyframes loading{
    0%{
        transform: scaleX(0);
    }
    50%{
        transform: scaleX(0.9);
    }
    100%{
        transform: scaleX(1);
    }
}