//Remplissage des coeurs
@keyframes filling{
    50%{
        fill-opacity: 0.7;
    }
    50%,100%{
        stroke-opacity: 0;
    }
    100%{
        fill-opacity: 1;
    }
}

//Disparition de la page de chargement par le changement de taille sans durée de transition
@keyframes disparition{
    from{
        transform: scale(1);
    }
    to{
        transform: scale(1);
    }
}

//Rotation du "loading spinner" combiné au changement de l'opacité
@keyframes opacity-rotation-change{
    //Changement de l'opacité
    0%{
        opacity: 0;
    }

    40%,70%{
        opacity: 1;
    }

    100%{
        opacity: 0;
    }

    //Rotation
    0%{
        transform: rotate(0turn);
    }
    
    50%{
        transform: rotate(-2turn);
    }
    100%{
        transform: rotate(-4turn);
    }
}

//Changement de l'opacité du titre de la "page de chargement"
@keyframes opacity-change{
    0%{
        opacity: 0;
    }

    40%,70%{
        opacity: 1;
    }

    100%{
        opacity: 0;
    }
}

//Apparition des repas par le changement de l'axe Z et de la rotation 3D.
@keyframes rotation{
    from{
        opacity: 0;
        transform: perspective(500px) translateZ(-300px) rotate3d(-3,-1,0,90deg);
    }
    to{
        opacity: 1;
        transform: perspective(500px) translateZ(0px) rotate3d(3,1,0,0deg);
    }
}
