/*Texte*/
$font-scale-size: (12.5px, 14px, 20px, 23px);
$light: #FFF;
$light-mixed:#7e7e7eff;
$dark-mixed:#353535ff;
$dark:#000;

/*background*/
$bkg-light: #f6f6f6ff; 
$bkg-mixed: #eaeaeaff;
$bkg-dark:#353535ff;
$bkg-primary:#9356DC;
$bkg-secondary:#FF79DA;
$bkg-tertiairy:#99E2D0;
$bkg-primary-light: lighten(#9356DC,3%);
$bkg-secondary-light: lighten(#FF79DA,3%);

$ico-size: 18px;
$min-large-tel-size: 380px;
$titles-marge: 6px;
$menu-marge: 11px;
$meal-delay: 100ms;