.main-section{
    position: relative;
    max-width: 100%;
    overflow: hidden;
}

.restaurant-menu{
    padding: 25px 13px 65px 13px;
    margin-top: 176px;
    border-radius: 30px 30px 0px 0px;
    background-color: $bkg-light;

    &__header{
        @include display-flex(row, space-between, center);
        margin-bottom: 20px;

        h1{
            padding-left: $titles-marge;
        }
    }

    &__part{

        @include display-flex(column, space-between, none);
        height: 270px;
        margin-bottom: 32px;

        h2{
            display: inline-block;
            text-transform: uppercase;
            font-weight: normal;
            font-size: 13px;
            width: 33px;
            height: 19px;
            margin: 0px 0px 0px $titles-marge;
            border-bottom: 2.4px solid $bkg-tertiairy;
        }
    }

    &__btn{
        display: flex;
        justify-content: center;
        width: 106px;
        margin: auto;
    }
}

.meal{
    @include box-radius-shadow(16px, 5px, 7px, #e5e5e5);
    @include display-flex(row, space-between, center);
    background-color: #FFF;
    overflow: hidden;
    height: 53px;

    &__selected{
        background-color: $bkg-tertiairy;
        height: initial;
        padding: 19px 16px;

        i{
            color: #FFF;
        }
    }

}

.meal-description{

    @include display-flex(row, space-between, flex-end);
    padding-left: 12px;
    padding-right: 17px;
    height: 60%;
    width: 100%;
    
    &__text{
        @include display-flex(column, space-between, none);
        font-size: 11px;
        float: left;
        height: 100%;

        p{
            font-size: 11px;
        }
    }

    &__price{
        @include little-bold;
        color: $dark-mixed;
        font-size: 11.7px;
    }

}