.main-section{
    position: relative;
    max-width: 100%;
    overflow: hidden;
}

.restaurant-menu{
    padding: 25px $menu-marge 65px $menu-marge;
    margin-top: 176px;
    border-radius: 30px 30px 0px 0px;
    background-color: $bkg-light;

    &__header{
        @include display-flex(row, space-between, center);
        margin-bottom: 20px;

        h1{
            padding-left: $titles-marge;
        }

        @include large-tel-version{
            width: 358px;
            margin: 0px auto 20px 0px;
            padding-bottom: 5px;
        }

        @include little-tablet-version{
            width: 320px;
            margin-left: auto;
        }

        
    }

    &__part{

        @include display-flex(column, space-between, none);
        //height: 229px;
        margin-bottom: 23px;

        h2{
            display: inline-block;
            text-transform: uppercase;
            font-weight: normal;
            font-size: 13px;
            width: 33px;
            height: 19px;
            margin: 0px 0px 11px $titles-marge;
            border-bottom: 2.4px solid $bkg-tertiairy;

            @include little-tablet-version{
                width: 80%;
                margin: 0px auto 11px auto;
                border-bottom-style: dotted;
                padding-left: 2%;
            }

            @include large-tablet-version{
                width: 93%;
                padding-left: 4%;
            }
        }

        &--starter{
            @for $i from 2 through 4{
                article:nth-child(#{$i}){
                    animation-delay: ($i - 2)*$meal-delay;
                }
            }
        }

        &--course{
            @for $i from 2 through 4{
                article:nth-child(#{$i}){
                    animation-delay: $meal-delay*3 + ($i - 2)*$meal-delay;
                }
            }
        }

        &--dessert{
            @for $i from 2 through 4{
                article:nth-child(#{$i}){
                    animation-delay: $meal-delay*6 + ($i - 2)*$meal-delay;
                }
            }
        }

        @include large-tablet-version{
            width: 100%;
        }

    }

    &__btn{
        display: flex;
        justify-content: center;
        width: 106px;
        margin: auto;
    }

    @include large-tablet-version{
        width: 45%;
        float: right;
        margin-right: 5%;
    }

    @include desktop-version{
        width: 445.67px;
    }
}



.meal{
    @include box-radius-shadow(12px, 5px, 7px, #e5e5e5);
    @include display-flex(row, space-between, center);
    background-color: #FFF;
    overflow: hidden;
    height: 55px;
    width: 100%;
    cursor: pointer;
    position: relative;
    margin-bottom: 12px;
    animation: rotation 200ms cubic-bezier(0, 0, 0.65, 1) backwards;

    &__selected{
        background-color: $bkg-tertiairy;
        transform-origin: right;
        padding: 19px 16px;
        transform: scalex(0) translateX(50px);
        position: absolute;
        right: 0px;

        i{
            color: #FFF;
            transition: transform 300ms;
        }
    }

    &:hover{

        .meal-description{
            width: 73%;

            &__text{
                width: 79%;
            }
        }

        .meal__selected{
            transform: scalex(1) translateX(0px);
            transition: transform 300ms;

            > i{
                transform: rotate(1turn);
            }
        }
    }

    @include large-tel-version{
        width: 358px;
        margin: auto;
        margin-bottom: 12px;
    } 

    @include large-tablet-version{
        margin-right: 45px;
        width: 335px;
    }

}

.meal-description{

    @include display-flex(row, space-between, flex-end);
    padding-left: 11px;
    padding-right: 17px;
    height: 60%;
    width: 100%;
    transform-origin: left;
    transition: width 300ms;
    
    &__text{
        @include display-flex(column, space-between, none);
        font-size: 11px;
        float: left;
        width: 81%;
        height: 100%;

        *{
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
        }

        p{
            font-size: 11px;
            font-weight: normal;
        }
    }

    &__price{
        @include little-bold;
        color: $dark-mixed;
        font-size: 11.7px;
    }

}