header{
    @include display-flex($direction:column);
    @include box-radius-shadow(0px);
    background-color: #FFF;
    position: relative;
    z-index: 1;

    h1{
        padding-top: 15px;
        padding-bottom: 3px;
        margin: 0px auto;
    }

    a{
        position: absolute;
        top: 21px;
        left: 21px;
        font-size: 16px;
    }
}