header{
    @include display-flex($direction:column);
    @include box-radius-shadow(0px);
    position: relative;

    & h1{
        padding-top: 15px;
        padding-bottom: 3px;
        margin: 0px auto;
    }
}