//"Page" du loader
.loading-page{
    position: fixed;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    background-color: #FFF;
    z-index: 2;
    transform: scale(0);
    animation: disparition 3000ms;
    @include display-flex(column, center, center);

    h1{
        animation: opacity-change 3000ms forwards ease-in-out;
    }
}

//Loader circulaire
.loader-spinner{
    animation: opacity-rotation-change 3000ms;
    border-radius: 100px ;
    margin: 5px auto;
    padding: 2px;
    height: 120px;
    width: 120px;
    opacity: 0;
    background: conic-gradient(from 0deg, $bkg-primary 25%, $bkg-secondary, #FFF 50%);
    @include display-flex(column, center, center);

    //Cercle blanc qui cache le centre du loader coloré en rotation.
    &__center{
        border-radius: 50px ;
        background-color: #FFF;
        height: 100px;
        width: 100px;
    }
}