.section-two{
    background-color: map-get($bkg-color-scale, light);
}

.presentation{
    width: 80%;
    padding: 28px 20px 53px 20px;
    text-align: center;

    & h2{
        margin-bottom: 10px;
    }

    & p{
        margin-bottom: 32px;
    }
}