.section-four{
    background-color: $bkg-light;
}

.restaurants{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 850px;

    @include little-tablet-version {
        flex-direction: row;
        flex-wrap: wrap;
        height: 455px;
    }
}


