.btn{
    //Apparence du bouton non survolé
    background: linear-gradient(178deg,$bkg-secondary,$bkg-primary);
    display: inline-block;
    position: relative;
    color: $light;
    padding: 12px 18px;
    z-index: 1;
    
    @include box-radius-shadow(20px, 4px);

    &:hover{
        &::after{
            opacity: 1;
        }
    }

    //Apparence du bouton au survol
    &::after{
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background: linear-gradient(178deg,$bkg-secondary-light, $bkg-primary-light);
        opacity: 0;
        padding: 12px 18px;
        @include box-radius-shadow(20px, 5px, $color: #c9c9c9);
        z-index: -1;
        transition: opacity 200ms ease-in-out;
    }
}