.functionning__step{
    display: flex;
    align-items: center;
    background-color: $bkg-light;
    height: 62px;
    width: 98%;
    @include box-radius-shadow(17px, 2px, 7px, #d8d8d8);

    //Numéro
    div{
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: $bkg-primary;
        width: $ico-size;
        height: $ico-size;
        border-radius: 10px;
        font-size: nth($font-scale-size, 1);
        color: $light;
        position: relative;
        right: $num-gap;
    }

    //Icône
    i{
        color: $light-mixed;
        font-size: nth($font-scale-size, 2);
        text-align: center;
        width: 16%;
        position: relative;
        right: 4px;
    }

    //Text descriptif
    p{
        @include little-bold;
    }
    
    //Troisième étape mise en avant
    &--strong{
        background-color: lighten($bkg-primary, 36%);
        & i{    
            color: $bkg-primary;
        }
    }

    //Taille de la première icône
    &:nth-child(1) i{
        font-size: 16.5px;
    }

    @include little-tablet-version{
        flex-direction: column;
        justify-content: center;
        border-radius: 10px;
        height: 138px;
        width: 31%;
        position: relative;

        div{
            position: absolute;
            top: -$num-gap;
        }

        p{
            text-align: center;
            width: 90%;
        }

        i{
            right: 0px;
            margin-bottom: 10px;
        }
    }
}

