.functionning__step{
    //Apparence du bouton non survolé
    display: flex;
    align-items: center;
    background-color: $bkg-light;
    height: 62px;
    width: 98%;
    z-index: 1;
    position: relative;
    @include box-radius-shadow(17px, 2px, 7px, #d8d8d8);

    //Numéro
    div{
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: $bkg-primary;
        width: $ico-size;
        height: $ico-size;
        border-radius: 10px;
        font-size: nth($font-scale-size, 1);
        color: $light;
        position: relative;
        right: $num-gap;
    }

    //Icône
    i{
        color: $light-mixed;
        font-size: nth($font-scale-size, 2);
        text-align: center;
        width: 16%;
        position: relative;
        right: 4px;

        //Icône du bouton au survol
        &::after{
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            color: $bkg-primary;
            opacity: 0;
            transition: opacity 200ms ease-in-out;
        }
    }

    //Icône de chacun des boutons au survol
    &:nth-child(1) i{
        //Taille de la première icône
        font-size: 16.5px;

        &::after{
            content: "\f3cd";
        }
    }

    &:nth-child(2) i::after{
        content: "\f0ca";
    }

    &:nth-child(3) i::after{
        content: "\f54e";
    }

    //Text descriptif
    p{
        @include little-bold;
    }

    &:hover{
        &::after{
            opacity: 1;
        }

        i::after{
            opacity: 1;
        }
    }
    
    //Apparence du bouton au survol
    &::after{
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        opacity: 0;
        z-index: -1;
        background-color: lighten($bkg-primary, 36%);
        @include box-radius-shadow(17px, 3px, 7px, #d4d4d4);
        transition: opacity 200ms ease-in-out;
    }

    @include little-tablet-version{
        flex-direction: column;
        justify-content: center;
        border-radius: 10px;
        height: 138px;
        width: 31%;
        position: relative;

        div{
            position: absolute;
            top: -$num-gap;
        }

        p{
            text-align: center;
            width: 90%;
        }

        i{
            right: 0px;
            margin-bottom: 10px;
        }

        &::after{
            border-radius: 10px;
        }
    }
}

