
//Images de la page d'accueil
.image{
    position: relative;

    //Image de la page de chaque restaurant
    &--menu{
        position: absolute;
        z-index: -1;
    }
}

//Images de la page d'accueil

.restaurants__card:nth-child(1) .image{
    @include positions(103%, 43px, 4px);
}

.restaurants__card:nth-child(2) .image{
    @include positions(102%, 122px, 0.1px);
}

.restaurants__card:nth-child(3) .image{
    @include positions(104%, 44px, 5px);
}

.restaurants__card:nth-child(4) .image{
    @include positions(101%, 44px, 1px);
}


//Image de la page de chaque restaurant

.la-palette-du-gout{
    @include positions-menu(110%, 0px, -15px);
}

.la-note-enchantee{
    @include positions-menu(100%,-77px, 0px);
}

.a-la-française{
    @include positions-menu(110%, 0px, -15px);
}

.le-delice-des-sens{
    @include positions-menu(110%, 0px, -15px);
}