.description__like{

    .stop1{
        stop-color:#9356dc;
        stop-opacity:1;
    }

    .stop2{
        stop-color:#ff79da;
        stop-opacity:1;
    }
    
    path{
        mix-blend-mode:multiply;
        fill:url(#linearGradient2372);
        fill-opacity:0;
        stroke:#000000;
        stroke-width:17.4;
        stroke-miterlimit:4;
        stroke-dasharray:none;
        stroke-opacity:1; 
    }
}

@for $i from 1 through 4{
    .description__like--#{$i}{
        :active{
            animation: filling 500ms ease-in forwards; 
        }
    }
}