.section-one{
    background-color: $bkg-mixed;
    display: flex;
    box-shadow: 0px 3px 6px #d4d4d4 inset;
}

.localisation{
    color: $dark-mixed;
    width: 123.91px;
    margin: 10px auto;

    i{
        float: left;
        margin-right: 9px;
        font-size: nth($font-scale-size, 1);
    }

    p{
        font-weight: bold;
        font-size: nth($font-scale-size, 1);
    }
}