.restaurants__card{
    
    @include box-radius-shadow($radius:10px,$color:#e4e4e4);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
    height: 200px;
    position: relative;

    @include little-tablet-version {
        width: 48%;
    }

    @include large-tablet-version {
        width: 31%;
    }

    @include desktop-version{
        width: 23%;
        height: 100%;
    }
        
}

.new{
    position: absolute;
    z-index: 1;
    background-color: $bkg-tertiairy;
    color: darken($bkg-tertiairy,36%);
    top: 10px;
    right: 8px;
    padding: 5px 9px;
    border-radius: 2px;
    @include little-bold(11px);
}


.description{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: $light;
    height: 31%;
    width: 100%;
    position: absolute;
    bottom: 0px;
    

    &__text{
        padding-left: 10px;
        height: 36.6px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    &__like{
        padding-right: 20px;
        width: 17px;
        height: 17px;
    }
}