*{
    font-family: "Roboto", "Claibri", sans-serif;
}

h1{
    font-family: "Shrikhand";
    font-size: nth($font-scale-size, 4);
}

h2{
    font-size: nth($font-scale-size, 3);
    font-weight: bold;
}

h3, p, a{
    font-size: nth($font-scale-size, 2);
}

p{
    font-weight: light;
}

li{
    font-size: nth($font-scale-size, 1);
}

a{
    text-decoration: none;
    color: map-get($color-scale, dark);
    font-weight: bold;
}